@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray-light: #F5F5F5;
  --color-purple: #684BF3;
  --color-red: #FF4D4D;
  --color-green: #4CAF50;
  --color-gray-dark: #715c91;

}